// ==========================================================================
// Containers
// ==========================================================================

.container {
	margin: 0 auto;
	max-width: rem($container-width);
	padding: 0;
	position: relative;
	width: 100%;

    &--fluid {
        max-width: 100%;
    }
}