// ==========================================================================
// Grid
// ==========================================================================

.grid {
	@extend .flex;
	padding: 0;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;

	&--gutterless {
		& > .grid__column {
			padding: 0;
		}
	}
}

/* Grid Modifiers
   Extends .flex
   ========================================================================== */

.grid--stack          { @extend .flex--stack;          }
.grid--top            { @extend .flex--top;            }
.grid--bottom         { @extend .flex--bottom;         }
.grid--center         { @extend .flex--center;         }
.grid--stretch        { @extend .flex--strech;         }
.grid--baseline       { @extend .flex--baseline;       }

.grid--justify-center { @extend .grid--justify-center; }
.grid--justify-start  { @extend .grid--justify-start;  }
.grid--justify-end    { @extend .grid--justify-end; }


/* Grid Columns
   ========================================================================== */


.grid__column {
	display: block;
	flex: 1;
	margin-left: 0;
	max-width: 100%;
	width: 100%;
	padding-left: rem($grid-gutter);
	padding-right: rem($grid-gutter);

	// .column-* vertically aligns an individual .column
	&--top {
		align-self: flex-start;
	}

	&--bottom {
		align-self: flex-end;
	}

	&--center {
		align-self: center;
	}

	// Column Offsets
	&--offset-10 {
		margin-left: 10%;
	}

	&--offset-20 {
		margin-left: 20%;
	}

	&--offset-25 {
		margin-left: 25%;
	}

	&--offset-33 {
		margin-left: 33.3333%;
	}

	&--offset-50 {
		margin-left: 50%;
	}

	&--offset-66 {
		margin-left: 66.6666%;
	}

	&--offset-75 {
		margin-left: 75%;
	}

	&--offset-80 {
		margin-left: 80%;
	}

	&--offset-90 {
		margin-left: 90%;
	}

	// Explicit Column Percent Sizes
	@for $i from 1 through $grid-columns {
		$factor: 100% * ($i / $grid-columns);
		&--#{$i} {
			flex: 0 0 #{$factor};
			max-width: #{$factor};
		}
	}

	@include breakpoint-min(sm) {
		@for $i from 1 through $grid-columns {
			$factor: 100% * ($i / $grid-columns);
			&--#{$i}--sm {
				flex: 0 0 #{$factor};
				max-width: #{$factor};
			}
		}
	}

	@include breakpoint-min(md) {
		@for $i from 1 through $grid-columns {
			$factor: 100% * ($i / $grid-columns);
			&--#{$i}--md {
				flex: 0 0 #{$factor};
				max-width: #{$factor};
			}
		}
	}

	@include breakpoint-min(lg) {
		@for $i from 1 through $grid-columns {
			$factor: 100% * ($i / $grid-columns);
			&--#{$i}--lg {
				flex: 0 0 #{$factor};
				max-width: #{$factor};
			}
		}
	}

	@include breakpoint-min(xl) {
		@for $i from 1 through $grid-columns {
			$factor: 100% * ($i / $grid-columns);
			&--#{$i}--xl {
				flex: 0 0 #{$factor};
				max-width: #{$factor};
			}
		}
	}
}

// Larger than mobile screen
@include breakpoint-min(sm) {
	.grid {
		width: 100%;
	}
	.grid__column {
		padding: 0 rem($space-xxs)
	}
}
