// Buttons
// --------------------------------------------------

.button {
    display: inline-block;
    @include rem(padding, 6px 36px);
    color: $button-color;
    background-color: $button-color-bg;
    border: $button-outlined-border-width solid $button-color-bg;
    border-radius: $button-border-radius;
    text-decoration: none;
    transition: all 1s ease;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    &:hover,
    &:focus,
    &:active {
        color: $button-color;
        background-color: darken($button-color-bg, 10%);
    }

    &--outlined {
        background-color: transparent;
        border-color: $button--outlined-color;
        color: $button--outlined-color;
    }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    @extend .button;
}