// ==========================================================================
// Buttons
// ==========================================================================

$button-filled-color: $base-color-bg !default;
$button-filled-bg: $color-dark !default;
$button-outlined-color: $color-dark !default;
$button-clear-color: $color-dark !default;

$button-primary-color: $color-lightest !default;
$button-primary-bg: $color-primary !default;
$button-secondary-color: $color-lightest !default;
$button-secondary-bg: $color-secondary !default;
$button-tertiary-color: $color-lightest !default;
$button-tertiary-bg: $color-tertiary !default;

$button-border-radius: 0 !default;
$button-outlined-border-width: 2px !default;

// Button Sizes

$button-padding-xxxs: rem($space-xxxs) rem($space-xxs) !default;
$button-padding-xxs: rem($space-xxxs) rem($space-sm) !default;
$button-padding-xs: rem($space-xxxs) rem($space-xs) !default;
$button-padding-sm: rem($space-xxxs) rem($space-md) !default;
$button-padding-md: rem($space-xxxs) rem($space-md) !default;
$button-padding-lg: rem($space-xxs) rem($space-xl) !default;
$button-padding-xl: rem($space-xxs) rem($space-xxl) !default;
$button-padding-xxl: rem($space-xxs) rem($space-xxxl) !default;
$button-padding-xxxl: rem($space-xxs) rem($space-xxl) !default;

$button-size-xxxs: rem($size-xxxs) !default;
$button-size-xxs: rem($size-xxs) !default;
$button-size-xs: rem($size-xs) !default;
$button-size-sm: rem($size-sm) !default;
$button-size-md: rem($size-md) !default;
$button-size-lg: rem($size-lg) !default;
$button-size-xl: rem($size-xl) !default;
$button-size-xxl: rem($size-xxl) !default;
$button-size-xxxl: rem($size-xxxl) !default;

.button {
    display: inline-block;
    margin-bottom: rem($space-xxxs);
    padding: $button-padding-sm;
    border-radius: $button-border-radius;
    border: $button-outlined-border-width solid $button-filled-bg;
    background-color: $button-filled-bg;
    color: $button-filled-color;
    text-decoration: none;
    transition: all 1s ease;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: inherit;

    &.button--primary {
        &:hover,
        &:focus,
        &:active {
            color: $button-primary-color;
            background-color: darken($button-primary-bg, 10%);
            border-color: darken($button-primary-bg, 25%);
        }
    }

    &.button--secondary {
        &:hover,
        &:focus,
        &:active {
            color: $button-secondary-color;
            background-color: darken($button-secondary-bg, 10%);
            border-color: darken($button-secondary-bg, 25%);
        }
    }
    
    &.button--tertiary {
        &:hover,
        &:focus,
        &:active {
            color: $button-tertiary-color;
            background-color: darken($button-tertiary-bg, 10%);
            border-color: darken($button-tertiary-bg, 25%);
        }
    }

    // Button Sizes
    &--xxxs { 
        padding: $button-padding-xxxs; 
        font-size: $button-size-xxxs;
    }
    &--xxs { 
        padding: $button-padding-xxs; 
        font-size: $button-size-xxxs;
    }
    &--xs { 
        padding: $button-padding-xs; 
        font-size: $button-size-xxs;
    }
    &--sm { 
        padding: $button-padding-sm;
        font-size: $button-size-xs;
    }
    &--md { 
        padding: $button-padding-md;
        font-size: $button-size-xs;
    }
    &--lg { 
        padding: $button-padding-lg;
        font-size: $button-size-md;
    }
    &--xl { 
        padding: $button-padding-xl;
        font-size: $button-size-lg;
    }
    &--xxl { 
        padding: $button-padding-xxl;
        font-size: $button-size-lg;
    }
    &--xxxl { 
        padding: $button-padding-xxxl;
        font-size: $button-size-lg;
    }
}

.button--filled {

    &:hover,
    &:focus,
    &:active {
        color: $button-filled-color;
        background-color: darken($button-filled-bg, 10%);
        border-color: darken($button-filled-bg, 25%);
    }

    &.button--primary {
        border-color: $button-primary-bg;
        background-color: $button-primary-bg;
        color: $button-primary-color;
    }

    // Button Colors
    &.button--secondary {
        background-color: $button-secondary-bg;
        border-color: $button-secondary-bg;
        color: $button-secondary-color;
    }

    &.button--tertiary {
        background-color: $button-tertiary-bg;
        border-color: $button-tertiary-bg;
        color: $button-tertiary-color;
    }
}

.button--outlined {
    background-color: transparent;
    color: $button-outlined-color;

    &:hover,
    &:focus,
    &:active {
        color: $button-filled-color;
        background-color: darken($button-outlined-color, 10%);
        border-color: darken($button-outlined-color, 25%);
    }

    &.button--primary {
        border-color: $button-primary-bg;
        color: $button-primary-bg;
    }

    &.button--secondary {
        border-color: $button-secondary-bg;
        color: $button-secondary-bg;
    }

    &.button--tertiary {
        border-color: $button-tertiary-bg;
        color: $button-tertiary-bg;
    }
}

.button--clear {
    border-color: transparent;
    background-color: transparent;
    color: $button-clear-color;

    &:hover,
    &:focus,
    &:active {
        color: $button-clear-color;
        border-bottom: 2px solid $button-clear-color;
    }
}


button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    @extend .button;
}