// ==========================================================================
// Titles & Subtitles
// ==========================================================================

.title,
.subtitle {
    &--ty { @include rem(font-size, $size-ty); }
    &--xt { @include rem(font-size, $size-xt); }
    &--sm { @include rem(font-size, $size-sm); }
    &--xs { @include rem(font-size, $size-xs); }
    &--md { @include rem(font-size, $size-md); }
    &--xm { @include rem(font-size, $size-xm); }
    &--lg { @include rem(font-size, $size-lg); }
    &--xl { @include rem(font-size, $size-xl); }
    &--xxl { @include rem(font-size, $size-xxl); }
    &--xxxl { @include rem(font-size, $size-xxl); }
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 100;
}

// Misc
// --------------------------------------------------

.title,
.subtitle {
    word-break: break-word;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: rem($space-sm);
}

// Title Set
// --------------------------------------------------

.title-set {
    .title {
        margin: 0;
    }

    .title + .subtitle {
        margin-top: 0;
    }
}

// Lead
// --------------------------------------------------

.lead {
    font-size: $lead-font-size;
    font-weight: $lead-font-weight;
    line-height: $lead-line-height;
}
