// ==========================================================================
// Lead
// ==========================================================================

.lead {
    font-weight: $lead-font-weight;
    font-size: $lead-font-size;
    line-height: $lead-line-height;
}
