// ==========================================================================
// Type Components
// ==========================================================================

$type-bold: 700 !default;
$type-black: 900 !default;
$type-italic: italic !default;
$type-small: 0.7em !default;
$type-caps: small-caps !default;

.type {
    &--italic { font-style: $type-italic;  }
    &--bold { font-weight: $type-bold; }
    &--black { font-weight: $type-black; }
    &--small { font-size: $type-small; }
    &--caps { font-variant: $type-caps;}
    &--justify { text-align: justify; }
    &--left { text-align: left; }
    &--right { text-align: right; }
    &--center { text-align: center; }
}