// Base
// --------------------------------------------------

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
html {
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
}

// Default body properties
body {
	background-color: $base-color-bg;
	color: $base-color;
	font-family: $font-family-primary;
	font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 400;
	letter-spacing: .05em;
	line-height: $base-line-height;
	margin: 0;
	padding: 0;
}