// Typography
// --------------------------------------------------

p {
	@include rem(margin, 0 0 $space-xs);
	
	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-weight: inherit;
	display: block;
	line-height: $heading-line-height;
	@include rem(margin, 0 0 $space-sm);

	&:last-child {
		margin-bottom: 0;
	}
}

h1 { @include rem(font-size, $size-xxl); }
h2 { @include rem(font-size, $size-xl); }
h3 { @include rem(font-size, $size-lg); }
h4 { @include rem(font-size, $size-xm); }
h5 { @include rem(font-size, $size-md); }
h6 { @include rem(font-size, $size-xs); }