// ==========================================================================
// Space
// ==========================================================================

.padding {

    &-xxxs { padding: rem($padding-xxxs); }
    &-xxs { padding: rem($padding-xxs); }
    &-xs { padding: rem($padding-xs); }
    &-sm { padding: rem($padding-sm); }
    &-md { padding: rem($padding-md); }
    &-lg { padding: rem($padding-lg); }
    &-xl { padding: rem($padding-xl); }
    &-xxl { padding: rem($padding-xxl); }
    &-xxxl { padding: rem($padding-xxxl); }
    
    &-y {
        padding-left: 0;
        padding-right: 0;
    }

    &-x {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-null { padding: 0; }
}