// ==========================================================================
// Space
// ==========================================================================

.padding {

    &-xxxs { padding: rem($space-xxxs); }
    &-xxs { padding: rem($space-xxs); }
    &-xs { padding: rem($space-xs); }
    &-sm { padding: rem($space-sm); }
    &-md { padding: rem($space-md); }
    &-lg { padding: rem($space-lg); }
    &-xl { padding: rem($space-xl); }
    &-xxl { padding: rem($space-xxl); }
    &-xxxl { padding: rem($space-xxxl); }
    
    &-y {
        padding-left: 0;
        padding-right: 0;
    }

    &-x {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-null { padding: 0; }
}