.masthead {
    background-image: url('../img/wazehlrp98s-jamison-mcandie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
}