// ==========================================================================
// Base
// ==========================================================================

// Default body properties
body {
	background-color: $base-color-bg;
	color: $base-color;
	font-family: $font-family-primary;
	font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 400;
	letter-spacing: .05em;
	line-height: $base-line-height;
}