// ==========================================================================
// Base
// ==========================================================================

// Default body properties
body {
	background-color: $base-color-bg;
	color: $base-color;
	font-weight: $base-font-weight;
	font-size: 1em; // currently ems cause chrome bug misinterpreting rems on body element
	font-family: $font-family-primary;
	line-height: $base-line-height;
}