// ==========================================================================
// Blockquote
// ==========================================================================

blockquote {
    margin: $blockquote-margin;
    padding: $blockquote-padding;
    border-left: $blockquote-border;
}

cite {
    font-style: $cite-style;
}