// ==========================================================================
// Code
// ==========================================================================

code {
    font-family: $font-family-monospace;
    font-size: inherit;
    color: $code-color;
    background-color: $code-bg;
    padding: $code-padding;
}