// ==========================================================================
// Divider
// ==========================================================================

hr {
    display: block;
    margin: rem($space-xs) 0;
    height: 1px;
    border: none;
    background-color: #dbdbdb;
}