// ==========================================================================
// Images
// ==========================================================================

img {
    max-width: 100%;
    border: 0;
    height: auto;
    vertical-align: middle;
}