// ==========================================================================
// Links
// ==========================================================================

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
	}
}