/* Lists
   ========================================================================== */

ul,
ol {
  margin-top: 0;
  margin-bottom: rem($space-xs);
  padding-left: 0
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

li {
  display: list-item;
  margin-bottom: rem($space-xxxs);
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}