<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="A CSS survival kit.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter -->
    <meta name="twitter:site" content="@ulinaaron">
    <meta name="twitter:creator" content="@ulinaaron">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tent CSS">
    <meta name="twitter:description" content="A CSS survival kit. Includes only the essentials to make camp.">
    <meta name="twitter:image" content="https://css.sitetent.com/public/img/banner.png">

    <!-- Facebook -->
    <meta property="og:url" content="https://css.sitetent.com/">
    <meta property="og:title" content="Tent CSS">
    <meta property="og:description" content="A CSS survival kit. Includes only the essentials to make camp.">

		<link href="public/css/docs.css" rel="stylesheet">

        <link rel="icon" href="public/img/favicon.png">
	</head>
	<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

