// ==========================================================================
// Breakpoints
// ==========================================================================

@mixin breakpoint-min($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin breakpoint-max($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    $val: number( #{map-get($breakpoints, $breakpoint)} ) - rem(1px);
    @media (max-width: ( $val ) ) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}