// Colors
// --------------------------------------------------

$color-primary:    #0074D9 !default;
$color-secondary:  #3D9970 !default;
$color-tertiary:   #FF4136 !default;

$color-lightest:   	  #FFFFFF !default;
$color-lighter:    		#F0F0F0 !default;
$color-light:      		#DDDDDD !default;
$color-medium:     		#AAAAAA !default;
$color-dark:       		#606060 !default;
$color-darker:     		#444444 !default;
$color-darkest:    		#111111 !default;

// Base Colors
$base-color: $color-darker !default;
$base-color-inverse: $color-lighter !default;
$base-color-bg: $color-lightest !default;

// Link Colors
$link-color: $color-primary !default;

// Common
// --------------------------------------------------

$font-family-primary: "Gill Sans", Helvetica, Arial, sans-serif;
$font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Lucida Console",Courier,monospace;

$border-radius: 6px !default;
$base-line-height: 1.6 !default;

// Headings
// --------------------------------------------------

$heading-color: $base-color !default;
$heading-color-inverse: $color-lighter !default;
$heading-line-height: 1.25 !default;

// Sizes
// Used for fonts
// --------------------------------------------------

$size-base: 16px !default;

$size-ty: 10px !default;
$size-xt: 12px !default;
$size-sm: 14px !default;
$size-xs: 16px !default;
$size-md: 18px !default;
$size-xm: 20px !default;
$size-lg: 32px !default;
$size-xl: 40px !default;
$size-xxl: 48px !default;
$size-xxxl: 64px !default;

// Sizes
// Used for padding and margins.
// --------------------------------------------------

$space-base: 8px;

$space-ty: ($space-base) !default;
$space-xt: ($space-base * 2) !default;
$space-sm: ($space-base * 3) !default;
$space-xs: ($space-base * 4) !default;
$space-md: ($space-base * 5) !default;
$space-xm: ($space-base * 6) !default;
$space-lg: ($space-base * 7) !default;
$space-xl: ($space-base * 8) !default;
$space-xxl: ($space-base * 9) !default;
$space-xxxl: ($space-base * 10) !default;

// Padding
// --------------------------------------------------

$padding-ty: $space-ty !default;
$padding-xt: $space-xt !default;
$padding-sm: $space-sm !default;
$padding-xs: $space-xs !default;
$padding-md: $space-md !default;
$padding-xm: $space-xm !default;
$padding-lg: $space-lg !default;
$padding-xl: $space-xl !default;
$padding-xxl: $space-xxl !default;
$padding-xxxl: $space-xxxl !default;

// Scaling
// --------------------------------------------------

$scale-ratio: 1.250 !default; // Major Third Ratio
$scale-unit: 10px !default;

// Container Sizes
// --------------------------------------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Grid
// --------------------------------------------------

$grid-columns: 12 !default;


// Grid Breakpoints
// --------------------------------------------------

$breakpoints: (
    xs: 0, 
    sm: rem(576px), 
    md: rem(768px), 
    lg: rem(992px), 
    xl: rem(1200px),
    xxl: rem(1400px),
    xxxl: rem(1600px)
) !default;

// Buttons
// --------------------------------------------------

