{{> masthead title='Tent CSS'}}
{{> doc-start}}

    <span class="anchor" id="get-started"></span>
    <span class="anchor" id="start-install"></span>

    <div class="title-set">
        <h1 class="title">Getting Started</h1>
        <p class="lead">There are many different ways to get started with Tent CSS. Choose the method that is most appropriate to your project and environment.</p>
    </div>

    <hr>

    <h3>Install with NPM</h3>

    <pre><code class="language-markup"><!--
        npm install --save tent-css
    --></code></pre>

    <h3>Install with Bower</h3>

    <pre><code class="language-markup"><!--
        bower install --save tent-css
    --></code></pre>

    <h3>Clone the repository</h3>

    <pre><code class="language-markup"><!--
        git clone https://github.com/sitetent/tentcss.git
    --></code></pre>

    <h3>Install Manually</h3>

    <a href="https://github.com/sitetent/tentcss/releases" class="button button--outlined button--secondary button--sm">Download Tent CSS</a>

    <hr>

    <span class="anchor" id="start-customize"></span>

    <h2>How to include Tent CSS in your project</h2>

    <p>The simpliest way to getting set up with Tent CSS is to include the CSS file in your project. For this method you should copy <code>/dist/tent.min.css</code> into the CSS folder of your project.</p>

    <pre><code class="language-markup"><!--
        <link href="css/tent.min.css" rel="stylesheet">

        <link href="css/Your-Project.min.css" rel="stylesheet">
    --></code></pre>

    <h3>Building from source</h3>

    <p>Alternatively, you can build your project using the Tent CSS source files that are written in Sass (SCSS syntax).</p>

    <p>Below is an example how to import <code>tent.scss</code> into your project: </p>

    <pre><code class="language-scss">

        @import "path/to/your-settings"

        @import "path/to/tent";

        // Custom CSS

    </code></pre>

    <div class="card card--outlined card--tertiary color-tertiary">
        <div class="card__content type-italic">
            <p>To use the Sass source files, it is suggested that you have an understanding of how CSS preprocessors work and how to compile them.</p>
        </div>
    </div>

    <h4>Overriding Sass variables</h4>

    Read more about using our Sass variables in your project in the <a href="settings.html">Settings</a> section.

    <!-- END Getting Started -->
    <hr>

{{> doc-end}}
{{> mastfoot}}