{{> masthead title='Elements | Tent CSS'}}
{{> doc-start}}

    <span class="anchor" id="elements"></span>

    <div class="title-set">
        <h1 class="title">Elements</h1>
        <p class="lead">Elements are raw HTML elements. Tent CSS normalizes these elements with basic styles.</p>
    </div>

    <hr>

    <span class="anchor" id="defaults"></span>


    <p>
        Tent CSS provides normalization for many of the standard markup elements.
        Because these elements are presented repeatedly throughout the documentation we will not showcase them all here.
    </p>

    <p>Here is a list of all the elements that we have applied styles to:</p>

    <code>body</code>
    <code>h1</code>
    <code>h2</code>
    <code>h3</code>
    <code>h4</code>
    <code>h5</code>
    <code>h6</code>
    <code>p</code>
    <code>ul</code>
    <code>ol</code>
    <code>li</code>
    <code>code</code>
    <code>strong</code>
    <code>b</code>
    <code>em</code>
    <code>a</code>
    <code>button</code>
    <code>img</code>
    <code>table</code>
    <code>hr</code>

{{> doc-end}}
{{> mastfoot}}