{{> masthead title='Generics | Tent CSS'}}
{{> doc-start}}

<span class="anchor" id="generics"></span>

    <div class="title-set">
        <h1 class="title">Generics</h1>
        <p class="lead">This level contains the global reset for HTML markup.</p>
    </div>

    <hr>

    <p>
        We use a super small normalization and reset designed for modern web browsers.
        Properities for legacy browsers have been excluded.
    </p>

{{> doc-end}}
{{> mastfoot}}