{{> masthead title='Tent CSS'}}

 <!-- Github Version -->
<a href="//github.com/sitetent/tentcss" class="github-corner">
    <svg width="80" height="80" viewBox="0 0 250 250">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
</a> <!-- /.github-corner -->

<header class="masthead masthead--banner" role="banner">
    <div class="container height-full">
        <div class="grid grid--center height-full">
            <div class="grid__column">

                <div class="grid grid--justify-center">
                    <div class="grid__column">

                        <div class="title-set type-center padding-y padding-sm">
                            <div class="grid grid--justify-center">
                                <div class="grid__column grid__column--12 grid__column--8--sm grid__column--6--lg">
                                    <div class="brand-set">
                                        <div class="brand-set__logo brand-set__logo--primary">
                                            <?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg width="100%" height="100%" viewBox="0 0 803 232" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g id="TentCSS-Logo"><path id="Flag" d="M195.134,19.361l-91.273,15.644l0,-31.289l91.273,15.645Z" style="fill:#0074d9;"/><g><rect id="Flag-Pole" x="102.433" y="1.83" width="5" height="56.852" style="fill:#f2f2f2;"/><g id="Text" transform="matrix(1,0,0,1,-334.836,-92.7341)"><text x="559.038px" y="277.949px" style="font-family:'GillSans-Light', 'Gill Sans', sans-serif;font-weight:300;font-size:144px;fill:none;">Tent</text><text x="824.609px" y="277.949px" style="font-family:'GillSans-Bold', 'Gill Sans', sans-serif;font-weight:700;font-size:144px;fill:none;">CSS</text><text x="559.038px" y="277.949px" style="font-family:'GillSans-Light', 'Gill Sans', sans-serif;font-weight:300;font-size:144px;fill:#f5eeeb;stroke:#f2f2f2;stroke-width:1px;">Tent</text><text x="824.609px" y="277.949px" style="font-family:'GillSans-Bold', 'Gill Sans', sans-serif;font-weight:700;font-size:144px;fill:#f5eeeb;stroke:#f2f2f2;stroke-width:1px;">CSS</text></g><path id="Tent" d="M196.206,217.473l-47.367,0l-43.906,-131.743l-43.906,131.743l-47.367,0l91.273,-171.291l91.273,171.291Z" style="fill:#f2f2f2;"/><path id="Outline" d="M799.095,227.473l-667.198,0l-23.26,-136.743l-7.451,0l-23.221,136.743l-74.305,0l0,-181.291l795.435,0l0,181.291Zm-785.435,-171.291l0,161.291l55.86,0l23.221,-136.743l24.339,0l23.26,136.743l648.755,0l0,-161.291l-775.435,0Z" style="fill:#f2f2f2;"/></g><path id="Canopy" d="M70.797,110.35l34.136,-24.62l34.136,24.62l-68.272,0Z" style="fill:#0074d9;"/><path id="Flaps" d="M148.839,217.473l-18.623,0l-25.283,-129.826l-25.282,129.826l-18.624,0l43.906,-131.743l43.906,131.743Z" style="fill:#0074d9;"/></g></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="subtitle subtitle--lg inverse"><span class="type-bold">A CSS survival kit.</span> <br> Includes only the essentials to make camp.</p>
                        </div> <!-- /.title-set -->

                    </div> <!-- /.grid__column -->
                </div> <!-- /.grid -->

                <div class="grid grid--justify-center inverse">
                    <div class="grid__column--12 grid__column--6--sm type-center">
                        <a href="//github.com/sitetent/tentcss/releases" class="masthead__button button button--secondary button--filled">
                            Download
                        </a>
                        <a href="docs.html" class="masthead__button button button--primary button--filled">
                            Get Started
                        </a>
                    </div> <!-- /.grid__column -->
                </div> <!-- /.grid -->

                <div id="scroll-down" class="grid grid--justify-center padding-y padding-lg">
                    <div class="grid__column grid__column--12 grid__column--4--lg type-center">
                        <span class="color-medium">(Scroll down for more)</span>
                    </div> <!-- /.grid__column -->
                </div> <!-- #scroll-down -->

            </div> <!-- /.grid__column -->
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</header> <!-- /.masthead--banner -->


<div class="mastcontent bg-color-lightest" role="main">
    <div class="container padding-y padding-lg">
        <div class="grid">
            <div class="grid__column">

                <h3 class="color-primary">About Tent CSS</h3>

                <p class="lead">
                    Sleeping in a tent is certainly not a luxurious experience. It is rugged and rudimentary, but it provides the basic necessities needed for survival.
                </p>

                <p>
                    Pulling inspiration from outdoor survival, Tent CSS is unglamorously simple and robust.
                    The framework is designed to be used as a foundation for building websites. We'll leave application and kitchen sink development to other frameworks.
                </p>

                <p>
                    With zero Javascript dependencies, Tent CSS is as the name says, just CSS (<em>Sass too</em>). So yeah, you're not going to see fancy components like tab drawers, accordions, and carousels in this framework. As most development goes, you usually already have a go-to favorite in mind for these more complex components anyways.
                </p>

            </div> <!-- /.grid__column -->
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</div> <!-- /.mastcontent -->
<div class="home-highlights bg-color-secondary" role="main">
    <div class="container padding-y padding-lg">

        <div class="grid grid--gutterless">
            <div class="grid__column grid__column--12 grid__column--3--md ">
                <div class="card card--filled card--secondary card--feature inverse height-full">
                    <div class="card__content">
                        <h3 class="card__title title title--md">Featherweight</h3>
                        <p>
                            Taking a cue from backpack camping ~ we've only packed in what makes sense to carry. Tent CSS weighs in at less than <strong>5kb</strong> gzipped.
                        </p>
                    </div>
                </div>
            </div> <!-- /.grid__column -->
            <div class="grid__column grid__column--12 grid__column--3--md ">
                <div class="card card--filled card--secondary card--feature inverse height-full">
                    <div class="card__content">
                        <h3 class="card__title title title--md">Modular</h3>
                        <p>
                            Includes only the necessary building blocks to create many of the most common UX design patterns. Unique components can easily be created by extending the framework.
                        </p>
                    </div>
                </div>
            </div> <!-- /.grid__column -->
            <div class="grid__column grid__column--12 grid__column--3--md ">
                <div class="card card--filled card--secondary card--feature inverse height-full">
                    <div class="card__content">
                        <h3 class="card__title title title--md">BEM</h3>
                        <p>
                            Tent CSS is developed with the <a href="//getbem.com/introduction/" class="inverse type-bold">BEM methodology</a> in mind. BEM promotes component modularity, code reusability, and a rock solid code structure.
                        </p>
                    </div>
                </div>
            </div> <!-- /.grid__column -->
            <div class="grid__column grid__column--12 grid__column--3--md ">
                <div class="card card--filled card--secondary card--feature inverse height-full">
                    <div class="card__content">
                        <h3 class="card__title title title--md">Modern Grid</h3>
                        <p>
                            Tent CSS is a modern-browser framework with a modern grid system (<span class="type-italic">Flexbox</span>). If you desire a fallback for older browsers you can always extend Tent CSS to do so.
                        </p>
                    </div>
                </div>
            </div> <!-- /.grid__column -->
        </div> <!-- /.grid -->

    </div> <!-- /.container -->
</div> <!-- /.home-highlights -->
<div class="mastcontent bg-color-lightest" role="main">
    <div class="container padding-y padding-lg">
        <div class="grid">
            <div class="grid__column">

                <h3>Browser Support</h3>

                <p class="lead">Tent CSS uses <a href="https://github.com/postcss/autoprefixer">autoprefixer</a> to make most modern features compatible with many older browser versions. This framework may not be best suited for you if you are looking to support legacy browsers.</p>

                <ul class="list list--inline">
                    <li class="list__item">Chrome v21+</li>
                    <li class="list__item">Firefox v28+</li>
                    <li class="list__item">Safari v6.1+</li>
                    <li class="list__item">Edge</li>
                    <li class="list__item">Internet Explorer 11</li>
                </ul>
            </div> <!-- /.grid__column -->
        </div> <!-- /.grid -->
    </div> <!-- /.container -->
</div> <!-- /.mastcontent -->

<div class="home-cta bg-color-darker" role="main">
    <div class="container padding-y padding-xxxl">

        <div class="grid grid--justify-center type-center">
            <div class="grid__column grid__column--12 grid__column--8--sm ">
                <h3 class="subtitle subtitle--xxl inverse">
                    Start making camp with Tent CSS
                </h3>
                <a href="docs.html" class="button button--outlined button--inverse margin-null">View the documentation</a>
            </div> <!-- /.grid__column -->
        </div> <!-- /.grid -->

    </div> <!-- /.container -->
</div> <!-- /.home-cta -->

{{> mastfoot}}