{{> masthead title='Generics | Tent CSS'}}
{{> doc-start}}


    <span class="anchor" id="Settings"></span>

    <div class="title-set">
        <h1 class="title">Settings</h1>
        <p class="lead">These are variables set using Sass. Using the Sass preprocessor is required to modify these. </p>
    </div>

    <hr>

    <p>
        The default framework Sass variables can be found in <code>src/01_settings/_variables.defaults.scss</code>.
        It is recommended that you do not modify this file directly.
        Instead you should either completely copy the file or just the variables you would like to modify.
        In your custom settings file be sure to remove any <code>!default</code> declarations.
    </p>


    <h3>Default Settings</h3>

    <script src="//gist-it.appspot.com/http://github.com/sitetent/tentcss/blob/master/src/01_settings/_variables.defaults.scss?footer=minimal"></script>

{{> doc-end}}
{{> mastfoot}}