{{> masthead title='Themes | Tent CSS'}}
{{> doc-start}}

    <span class="anchor" id="themes"></span>

    <div class="title-set">
        <h1 class="title">Themes</h1>
        <p class="lead">
            Themes are quick start overrides to Tent CSS with stronger opinions on design choices.
            You can either include the themes directly or use them as inspiration.
        </p>
    </div>

    <hr>

    <span class="anchor" id="crystal"></span>

    <h2>Crystal Theme</h2>

    <p>Information on Crystal will be added soon.</p>



{{> doc-end}}
{{> mastfoot}}