{{> masthead title='Tools | Tent CSS'}}
{{> doc-start}}

    <span class="anchor" id="tools"></span>

    <div class="title-set">
        <h1 class="title">Tools</h1>
        <p class="lead">These are Sass mixins and functions used thorought the framework.</p>
    </div>

    <hr>

    <span class="anchor" id="breakpoints"></span>

    <h2>Breakpoints</h2>

    <p>The breakpoint mixins make it very easy to call upon preset media query boundaries.</p>

    <p>
        The default $breakpoint sizes are <code>xs</code> <code>sm</code> <code>md</code> <code>lg</code> <code>xl</code> <code>xxl</code> <code>xxxl</code>
    </p>

    <pre><code class="language-scss">
        @include breakpoint-min($breakpoint) {
            .foo {}
        }

        @include breakpoint-max($breakpoint) {
            .foo {}
        }
    </code></pre>

    <hr>

    <span class="anchor" id="scales"></span>

    <h2>Scales</h2>

    <p>It is recommended that you use <code>rem</code> units with Tent CSS. We have packaged a Sass function entitled <code>rem()</code> within the framework.</p>

    <pre><code class="language-scss">
        selector {
            font-size: rem(16px);
            padding: rem(16px) rem(32px);
        }
    </code></pre>

    <hr>

    <span class="anchor" id="box-sizing"></span>

    <h2>Box Sizing</h2>

    <p>A simple Sass mixin for setting the box-sizing.</p>

    <pre><code class="language-scss">
        selector {
            @include box-sizing(content-box | border-box);
        }
    </code></pre>


{{> doc-end}}
{{> mastfoot}}