// ==========================================================================
// Reset
// Based on https://github.com/jaydenseric/Fix
// ==========================================================================

// 1. Reset line height for all browsers.
// 2. The base font-size is set at 62.5% for having the convenience
//    of sizing rems in a way that is similar to using px. 1.6rem=16px

html {
  @include box-sizing(border-box);
  line-height: 1; // * 1 *
  font-size: 62.5%; // * 2 *
  -ms-text-size-adjust: 62.5%; // * 2
  -webkit-text-size-adjust: 62.5%; // * 2 *
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 1. Set global inheritance from box-sizing property set on `html` element.

*,
*:before,
*:after {
  @include box-sizing(inherit); // * 1 *
}

// 1. Incase custom font was used without a fallback

body {
  margin: 0;
  font-family: sans-serif; // * 1 *
}

iframe {
  border: 0;
}

main {
  display: block;
}

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}